/* PostCSS Testfile */

/* the props */
@import "open-props/postcss/style";

/* optional imports that use the props */
@import "open-props/postcss/normalize";
@import "open-props/postcss/buttons";


body {
    background-color: var(--violet-9);
    color: var(--gray-0);
    font-family: var(--font-sans);
}

a {
    color: var(--gray-0);
}